
:root {
    --primary-color: #42446E;
    --secondary-color:#666666;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

.dm-sans {
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-family: "DM Sans", sans-serif;
}

.poppins-bold {
    font-weight: 700;
    font-style: normal;
    font-family: "Poppins", sans-serif;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Header styles */
.navbar-collapse li a {
    font-size: 20px;
    color: var(--secondary-color)
}

.navbar .social-links i {
    font-size: 20px;
    color: var(--secondary-color)
}

/* Hero Styles */
.main .hero {
    margin: 200px 0;
}

.main .hero .hero-text {
    font-size: 58px;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 70px;
}

.main .hero .hero-img {
   width: 100%;
}

.main .hero .hero-text span {
    display: block;
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Tech Stack styles */

.tech-stack h2 {
    font-size: 48px;
    margin-bottom: 30px;
    color: var(--primary-color);
}

.tech-stack p {
    font-size: 23px;
    margin-bottom: 100px;
    color: var(--secondary-color);
}

/* Media Queries */
@media (max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1024px) {

    .main .hero .hero-text {
        font-size: 48px;
        line-height: 60px;
    }

    .main .hero {
        margin: 100px 0;
    }

    .tech-stack h2 {
        margin-bottom: 20px;
    }

    .tech-stack p {
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .main .hero {
        margin: 70px 0;
        text-align: center;
    }

    .main .hero .hero-img {
        width: 50%;
    }

    .main .hero .hero-text {
        font-size: 42px;
        line-height: 52px;
        padding-bottom: 20px;
    }
   
}

@media (max-width: 480px) { 
    .main .hero {
        margin: 50px 0;
    }

    .main .hero .hero-img {
        width: 60%;
    }

    .main .hero .hero-text {
        font-size: 30px;
        line-height: 40px;
    }

    .tech-stack h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .tech-stack p {
        font-size: 18px;
        margin-bottom: 30px;
    }
}