*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dm-sans {
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-family: "DM Sans", sans-serif;
}

.poppins-bold {
    font-weight: 700;
    font-style: normal;
    font-family: "Poppins", sans-serif;
}

.navbar-collapse li a{
    font-size: 20px;
    color: #666666;
}

.navbar .social-links i {
    font-size: 20px;
    color:#666666;
}

.main .hero {
    margin: 200px 0;
}


.main .hero .hero-text {
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}

.main .hero .hero-img {
   width: 100%;
}

.main .hero .hero-text span {
    display: block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(to right, #13B0F5, #E70FAA);
}


/* Media Queries */

@media (max-width: 1600px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1024px) {

    .main .hero .hero-text {
        font-size: 48px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    .main .hero {
        margin: 70px 0;
        text-align: center;
    }

    .main .hero .hero-img {
        width: 50%;
    }

    .main .hero .hero-text {
        font-size: 42px;
        line-height: 52px;
        padding-bottom: 20px;
    }
   
}

@media (max-width: 480px) { 
    .main .hero {
        margin: 40px 0;
    }

    .main .hero .hero-img {
        width: 70%;
    }

    .main .hero .hero-text {
        font-size: 30px;
        line-height: 38px;
    }
   
}